a.dropdown-toggle {
    outline: none !important;
    border: none !important;
}

a {
    outline: none !important;
    border: none !important;
}

.dropdown-menu {
    outline: none !important;
    border: none !important;
    background-color: gainsboro !important;
}

a.dropdown-item:active {
    background-color: transparent !important;
    color: #000;
    box-shadow: none;
    outline: none;
}

.auth-class {
    font-size: small !important;
}

.hover-rate:hover {
    background-color: #f8f9fa !important;
}


.ms-6 {
    margin-left: 6.5rem !important;
}

.ms-7 {
    margin-left: 9.5rem !important;
}

.me-6 {
    margin-right: 15rem !important;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    margin: 0 0px;
    transition: background-color 0.3s ease;
}

/* Aktif indicator'ın rengi */
.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background-color: #407e78;
}

.min-vh-50 {
    min-height: 50vh;
}

.p-galleria-item-prev,
.p-galleria-item-next {
    width: 50px;
    height: 50px;
    background-color: #eaf6ea;
    color: black;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: #bcdfbc 1px solid;
}

/* Hover durumunda renk */
.p-galleria-item-prev:hover,
.p-galleria-item-next:hover {
    background-color:
        #407e78;
    color: white;
}

.p-galleria-item-prev {
    left: 15px;
}

.p-galleria-item-next {
    right: 15px;
}

@media (max-width: 768px) {

    .p-galleria-item-prev,
    .p-galleria-item-next {
        display: none !important;
    }
}

.p-galleria-item-prev svg,
.p-galleria-item-next svg {
    width: 16px !important;
    height: 16px !important;
}

.cat-menu {
    background-color: white !important;
    border-radius: 0% !important;
    border: 1px solid #e0e0e0 !important;
    border-top: none !important;

}

.w-10 {
    width: 20% !important;
}

.p-unselectable-text a {
    background-color: #eeeeee !important;
    color: #000 !important;
    text-decoration: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 5px !important;
}

.p-unselectable-text a:hover {
    background-color: #f5e4bf !important;
    color: #4b847b !important;

}

.p-tabview-selected a {
    background-color:
        #f5e4bf !important;
    color: #4b847b !important;
}


.p-tabview-nav {
    gap: 10px !important;
    margin-top: 40px !important;
    padding-left: 10px !important;
    margin-bottom: 0% !important;
    border: none !important;
}

.p-tabview-nav li {
    margin-bottom: 2px !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.p-tabview-nav li:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.p-tabview-panels {
    padding-left: 0% !important;
    padding-right: 0% !important;
}



.tooltip-success {
    --bs-tooltip-bg: #407e78 !important;
}

.basket-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #407e78 !important;
}

.basket-btn {
    transition: transform 0.2s ease, box-shadow 0.2s ease !important;
    margin-bottom: 2px !important;
}

.basket-btn:hover .hover-icon-color {
    color: white !important;
}

.custom-tooltip {
    transform: translateX(-50%) translateY(0px);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.custom-tooltip.show {
    transform: translateX(-50%) translateY(-8px);
}

.tooltip-box {
    background: #407e78;
    font-size: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tooltip-arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #407e78;
}

.image-actions {

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-actions {
    opacity: 1;
}

.hover-main-container {
    transition: box-shadow 0.3s ease;
}

.hover-main-container.hovered {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.custom-carousel {
    position: relative;
}

.custom-carousel .p-carousel-prev,
.custom-carousel .p-carousel-next {
    position: absolute;
    top: -40px;
    width: 35px;
    height: 35px;
    background-color: #eaf6ea !important;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.custom-carousel .p-carousel-prev:hover,
.custom-carousel .p-carousel-next:hover {
    background-color: #407e78 !important;
    color: white !important;
}

.custom-carousel .p-carousel-prev {
    right: 60px;
}

.custom-carousel .p-carousel-next {
    right: 15px;
}

.footer-animation-text:hover {
    transform: translateX(4px);
    color: #407e78 !important;
}

.footer-animation-text {
    transition: transform 0.2s ease, box-shadow 0.2s ease !important;
    cursor: pointer;
}

.p-breadcrumb-list {
    margin-bottom: 0% !important;
}

.p-menuitem-separator {
    font-size: 0.9rem !important;
}

.p-menuitem-link {
    text-decoration: none !important;
}

.p-menuitem-text {
    font-size: 0.9rem !important;
}

.p-slider-range {
    background-color: #222222 !important;
}

.p-slider-handle {
    background-color: #407e78 !important;
    border-color: #407e78 !important;
    width: 15px !important;
    height: 15px !important;
    top: 4px !important;
}

.filter-button {
    background-color: #407e78 !important;
    color: white !important;
}

.filter-button:hover {
    background-color: #365e5a !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
    background-color: #365e5a !important;
    border-color: #365e5a !important;
}


.p-checkbox:hover .p-checkbox-box {
    border: 2px solid #365e5a !important;
}

.w-95 {
    width: 95% !important;
}

.img {
    object-fit: contain !important;
}